<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica</title>
</head>

<body>
    <h1>
        <center>Modifica città</center>
    </h1>
    <br>
    <h1>Modifica in corso di una città...</h1>
    <form action="/residenti/update" th:object="${residenti}" method="post">
        <input type="hidden" name="id" th:value="${residenti.id}">
        <span>nominativo:</span><input type="text" th:value="${residenti.nominativo}" name="nominativo">
        <span>città:</span><select name="cittaId">
            <option th:each="ci:${citta}" th:value="${ci.id}" th:text="${ci.nome}"></option>
        </select>
        <button>salva</button>
    </form>
</body>

</html>