<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Giocatori</title>
</head>

<body>
    <h1>
        <center>Home - Giocatori</center>
    </h1>

    <h3>Azioni possibili:</h3>
    <form action="/giocatori/lista" method="post">
        <button>Visualizza lista calciatori</button>
    </form>

    <form action="/giocatori/inserisci" method="post">
        <button>Inserisci un nuovo calciatore</button>
    </form>
</body>

</html>