<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langhouses List</title>
</head>

<body>
    <h1>
        <center>Edit Langhouses</center>
    </h1>

    <form th:action="@{/langhouse}" th:object="${langhouse}" method="post">
        <span>id:</span> <input type="number" name="id" th:field="*{id}" readonly>
        <span>nome:</span> <input type="text" name="name" th:field="*{name}">
        <button>invia</button>
    </form>
    <br>
    <a th:href="@{/langhouse}">Langhouse</a>
</body>

</html>