<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langhouses List</title>
</head>

<body>
    <h1>
        <center>Lista dei Langhouses</center>
    </h1>

    <table border="1">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>azioni</th>
        </tr>
        <tr th:each="l : ${langhouse}">
            <td th:text="${l.id}"></td>
            <td th:text="${l.name}"></td>
            <td>
                <a th:href="@{/langhouse/{id}/edit(id=${l.id})}">modifica</a>
                <a th:href="@{/langhouse/{id}/delete(id=${l.id})}">elimina</a>
                <a th:href="@{/langhouse/{id}/filter(id=${l.id})}">filtra</a>
            </td>
        </tr>
    </table>

    <a th:href="@{/langhouse/new}">Aggiungi un nuovo Langhouse</a>
    <br>
    <a th:href="@{/wizard}">WizardDevs</a>
    <br>
    <a th:href="@{/langhouse}">Langhouse</a>
</body>

</html>