<!DOCTYPE html>
<html lang="ita" xmlns="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>
        <center>Home - Esami</center>
    </h1>

    <table border="1">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>professore</th>
            <th>cfu</th>
            <th colspan="2">azioni</th>
        </tr>
        <tr th:each="esame:${esami}">
            <td th:text="${esame.id}"></td>
            <td th:text="${esame.nome}"></td>
            <td th:text="${esame.professore}"></td>
            <td th:text="${esame.cfu}"></td>
            <td>
                <form action="/modifica" method="post">
                    <input type="hidden" name="id" th:value="${esame.id}">
                    <button>modifica</button>
                </form>
            </td>
            <td>
                <form action="/elimina" method="post">
                    <input type="hidden" name="id" th:value="${esame.id}">
                    <button>elimina</button>
                </form>
            </td>
        </tr>
    </table>

    <br><br><br>
    <h3>Inserisci un nuovo esame</h3>
    <form action="/update" method="post">
        <input type="text" name="nome" placeholder="inserisci nome">
        <input type="text" name="professore" placeholder="inserisci professore">
        <input type="number" name="cfu" placeholder="inserisci cfu">
        <button>aggiungi</button>
    </form>
</body>

</html>