<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <center>Lista abbigliamento</center>
    </h1>

    <table border="1">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>categoria</th>
            <th>brand</th>
            <th colspan="2">azioni</th>
        </tr>

        <tr th:each="abbigliamento:${abbigliamentos}">
            <td th:text="${abbigliamento.id}"></td>
            <td th:text="${abbigliamento.nome}"></td>
            <td th:text="${abbigliamento.categoria}"></td>
            <td th:text="${abbigliamento.brandId.nome}"></td>
            <td>
                <form action="/abbigliamento/modifica" method="post">
                    <input type="hidden" name="id" th:value="${abbigliamento.id}">
                    <button>modifica</button>
                </form>
            </td>
            <td>
                <form action="/abbigliamento/elimina" method="post">
                    <input type="hidden" name="id" th:value="${abbigliamento.id}">
                    <button>elimina</button>
                </form>
            </td>
        </tr>
    </table>
    <br><br>
    <h3>Inserisci un nuovo abbigliamento:</h3>
    <form action="/abbigliamento/update" method="post">
        <span>nome:</span><input type="text" name="nome">
        <span>categoria:</span><input type="text" name="categoria">
        <select name="brandId">
            <option th:each=" brand:${brands}" th:value="${brand.id}" th:text="${brand.nome}">valore</option>
        </select>
        <button>invia</button>
    </form>
    <br>
    <h3>Ricerca...</h3>
    <form action="/abbigliamento/search" method="post">
        <span>Cerca per nome:</span><input type="text" name="nome">
        <button>invia</button>
    </form>

    <a href="/brand">Torna ai brand</a>
</body>

</html>